<include file="Index/header"/>
<link href="{$uri}__PUBLIC__/temp/indexTrue.css" rel="stylesheet">
			 <switch name="style_id">
                <case value="1" >	 	 
			      <!--加载模板内容1-->
				  <include file="style_item1" />
				</case>  
				<case value="2" >	 	 
				  <!--加载模板内容2-->
				  <include file="style_item2" />
				</case>  
				<case value="3" >
				  <!--加载模板内容-->
				  <include file="style_item3" />
				</case>
				<case value="4" >  
				  <!--加载模板内容-->
				  <include file="style_item4" />
			    </case>
			    <case value="5" >
				  <!--加载模板内容-->
				  <include file="style_item5" />
				</case>
				<case value="6" >
				  <!--加载模板内容-->
				  <include file="style_item6" />
				</case>
				<case value="7" >  
				  <!--加载模板内容-->
				  <include file="style_item7" />
				</case>
				<case value="61" >
				  <!--加载模板内容-->
				  <include file="style_item61" />
				</case>
				<case value="62" >
				  <!--加载模板内容-->
				  <include file="style_item62" />
				</case>
				<case value="63" >
				  <!--加载模板内容-->
				  <include file="style_item63" />
				</case>
		      </switch>



<include file="Index/footer"/>