<layout name="layoutLogin" />

<div class="all">
    <div class="page-container">
        <img src="{$uri}__PUBLIC__/admin/login/img/backgrounds/logo.png">
        <h1>商城管理</h1>
        <input name="username">
        <input type="password" name="password">
        <div class="codeImg">

        </div>
        <button type="submit">登录</button>

        <div class="errors"><span>+</span></div>

        <span style="position:relative;top:20px;"></span>
    </div>
</div>
<div class="ewm"><img src="{$uri}__PUBLIC__/admin/login/img/backgrounds/ad1.png"><span>关注点点通微信公众号</span></div>
<div class="db">
    <td height="91" align="center">&copy;点点通-Wifi广告商家管理平台系统 版权所有 工信部ICP备：陕ICP备13008145号-1</td>
</div>


