<include file="Index/header"/>
<link href="{$uri}__PUBLIC__/temp/indexTrue.css" rel="stylesheet">


<ul class="breadcrumb" style="text-align:left">
  <li>
    模板管理
  </li>
  <li class="active">首页管理</li>
</ul>
<div class="row-fluid">
   <div>
<div ><a href="index.php?r=tempitem/view&temp_id=1" target="_blank">演示</a></div>
    <div class="item-box goods_list"  >
        <div class="item-list">
		         <div nctype="special_item" class="special-item home2" data-item-id="0">
	    	    <div class="item_type">home2</div>
		<div id="item_edit_content">
		  <div class="index_block home2">
		    <div class="title">
			  <span></span>
			</div>
			<div class="content">
			  	<link href="/yii/web/temp/css/style_temp1.css" rel="stylesheet">
	
	<div class="adv_list template">
        <!-- banner轮播Start -->
        <script type="text/javascript" src="http://shop.ddt123.cn/mobile/js/TouchSlide.1.1.js"></script>
        <div id="focus" class="focus">
            <div class="hd">
                <ul>
           <li> <a href="#"><img src="/yii/uploads/111/14417853453756.jpg" alt=""  ></a></li>
		        <li> <a href="#"><img src="/yii/uploads/318/14417853983649.jpg" alt=""  ></a></li>
		 
                </ul>
            </div>
            <div class="bd">
                <ul>
                   <!-- <li><a href="#"><img src="{$uri}__PUBLIC__/temp/res/default_image.gif" /></a></li>-->
					        <li> <a href="#"><img src="/yii/uploads/111/14417853453756.jpg" alt=""  ></a></li>
		        <li> <a href="#"><img src="/yii/uploads/318/14417853983649.jpg" alt=""  ></a></li>
		                 </ul>
            </div>
        </div>
        <script type="text/javascript">
            TouchSlide({
                slideCell:"#focus",
                titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
                mainCell:".bd ul",
                delayTime:600,
                interTime:4000,
                effect:"leftLoop",
                autoPlay:true,//自动播放
                autoPage:true, //自动分页
                switchLoad:"_src" //切换加载，真实图片路径为"_src"
            });
        </script>
        <!-- banner轮播End -->
    </div>		    </div>
		   </div>
		 </div> 
		 <div class="handle">
		   <a nctype="btn_move_up" href="/yii/index.php?r=tempitem/listup&style_id=1&temp_id=1&item_id=81"><i class="icon-arrow-up"></i>上移</a>
		   <a nctype="btn_move_down" href="/yii/index.php?r=tempitem/listdown&style_id=1&temp_id=1&item_id=81"><i class="icon-arrow-down"></i>下移</a>
		   <a nctype="btn_usable" data-item-id="0" href="/yii/index.php?r=tempitem/isused&style_id=1&temp_id=1&item_id=81"><i class="icon-off"></i>
		             关闭
	    		   
		   
		   </a>
		   <a nctype="btn_edit_item" data-item-id="0" href="/yii/index.php?r=tempitem/edit&style_id=1&temp_id=1&item_id=81"><i class="icon-edit"></i>编辑</a>
		   
		   <a nctype="btn_del_item" data-item-id="0" href="/yii/index.php?r=tempitem/del&style_id=1&temp_id=1&item_id=81"><i class="icon-trash"></i>删除</a>
		 </div>
	   </div>
				         <div nctype="special_item" class="special-item home2" data-item-id="0">
	    	    <div class="item_type">home2</div>
		<div id="item_edit_content">
		  <div class="index_block home2">
		    <div class="title">
			  <span></span>
			</div>
			<div class="content">
			  		
	<link href="/yii/web/temp/css/style_temp38.css" rel="stylesheet">
	<style>
*{
text-align:center;
	  line-height:30px; color:#000000;}
	</style>
	<div style="clear:both; margin-bottom:10px; height:100%; overflow:hidden">

   
   <div  style="width:24%; float:left; ">
     <a href="#"><img src="/yii/uploads/449/14417869126207.png" alt=""  width="60px;"></a>
	<div> 促销信息</div>
   </div>
  

        
		
    
		    
			   
   <div style="width:24%; float:left">
     <a href="#"><img src="/yii/uploads/19/14417868975711.png" alt="" width="60px;" ></a><br>
	 新品上市   </div>
  
			
			   
   <div style="width:24%; float:left">
     <a href="#"><img src="/yii/uploads/401/14417868849593.png" alt="" width="60px;" ></a><br>
	 积分兑换   </div>
  			


			   
   <div style="width:24%; float:left">
     <a href="#"><img src="/yii/uploads/188/14417868745964.png" alt="" width="60px;" ></a><br>
	 产品分类   </div>
  
		
		
		
		
    </div>

		    </div>
		   </div>
		 </div> 
		 <div class="handle">
		   <a nctype="btn_move_up" href="/yii/index.php?r=tempitem/listup&style_id=8&temp_id=1&item_id=82"><i class="icon-arrow-up"></i>上移</a>
		   <a nctype="btn_move_down" href="/yii/index.php?r=tempitem/listdown&style_id=8&temp_id=1&item_id=82"><i class="icon-arrow-down"></i>下移</a>
		   <a nctype="btn_usable" data-item-id="0" href="/yii/index.php?r=tempitem/isused&style_id=8&temp_id=1&item_id=82"><i class="icon-off"></i>
		             关闭
	    		   
		   
		   </a>
		   <a nctype="btn_edit_item" data-item-id="0" href="/yii/index.php?r=tempitem/edit&style_id=8&temp_id=1&item_id=82"><i class="icon-edit"></i>编辑</a>
		   
		   <a nctype="btn_del_item" data-item-id="0" href="/yii/index.php?r=tempitem/del&style_id=8&temp_id=1&item_id=82"><i class="icon-trash"></i>删除</a>
		 </div>
	   </div>
		        </div>
    </div>
    <div class="module-list">
	            <div class="module_adv_list">
		    <img src="{$uri}__PUBLIC__/temp/res/mpat1.png">
            <span>广告切换版块1</span><a nctype="btn_add_item" class="add" href="/yii/index.php?r=tempitem/add&style_id=1&temp_id=1" data-module-type="adv_list">添加</a>
        </div>
		        <div class="module_adv_list">
		    <img src="{$uri}__PUBLIC__/temp/res/mpat2.png">
            <span>模型版块布局A</span><a nctype="btn_add_item" class="add" href="/yii/index.php?r=tempitem/add&style_id=2&temp_id=1" data-module-type="adv_list">添加</a>
        </div>
		        <div class="module_adv_list">
		    <img src="{$uri}__PUBLIC__/temp/res/mpat3.png">
            <span>模型版块布局B</span><a nctype="btn_add_item" class="add" href="/yii/index.php?r=tempitem/add&style_id=3&temp_id=1" data-module-type="adv_list">添加</a>
        </div>
		        <div class="module_adv_list">
		    <img src="{$uri}__PUBLIC__/temp/res/mpat4.png">
            <span>模型版块布局C</span><a nctype="btn_add_item" class="add" href="/yii/index.php?r=tempitem/add&style_id=4&temp_id=1" data-module-type="adv_list">添加</a>
        </div>
		        <div class="module_adv_list">
		    <img src="{$uri}__PUBLIC__/temp/res/mpat5.png">
            <span>模型版块布局D</span><a nctype="btn_add_item" class="add" href="/yii/index.php?r=tempitem/add&style_id=5&temp_id=1" data-module-type="adv_list">添加</a>
        </div>
		        <div class="module_adv_list">
		    <img src="{$uri}__PUBLIC__/temp/res/mpat6.png">
            <span>商品版块</span><a nctype="btn_add_item" class="add" href="/yii/index.php?r=tempitem/add&style_id=6&temp_id=1" data-module-type="adv_list">添加</a>
        </div>
		        <div class="module_adv_list">
		    <img src="/yii/uploads/60/14415199067214.png">
            <span>列表数据1</span><a nctype="btn_add_item" class="add" href="/yii/index.php?r=tempitem/add&style_id=7&temp_id=1" data-module-type="adv_list">添加</a>
        </div>
		        <div class="module_adv_list">
		    <img src="/yii/uploads/183/14417858632972.png">
            <span>导航样式1</span><a nctype="btn_add_item" class="add" href="/yii/index.php?r=tempitem/add&style_id=8&temp_id=1" data-module-type="adv_list">添加</a>
        </div>
		        <div class="module_adv_list">
		    <img src="/yii/uploads/469/14417914901937.png">
            <span>列表数据2</span><a nctype="btn_add_item" class="add" href="/yii/index.php?r=tempitem/add&style_id=9&temp_id=1" data-module-type="adv_list">添加</a>
        </div>
		      
    </div>
</div>
<script src="{$uri}__PUBLIC__/temp/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="{$uri}__PUBLIC__/indexTrue.js" type="text/javascript"></script>


</div>

<include file="Index/footer"/>